<div class="container" *ngIf="state">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-title>Color Picker</mat-card-title>

        <mat-card-content>
          <div class="row">
            <div class="col-1 align-self-center text-center">
              <span class="font-weight-bold">R</span>
            </div>
            <div class="col">
              <mat-slider [(ngModel)]="inputColor.r" (change)="changeRedSlider($event)" min="0" max="255" step="1" class="w-100"></mat-slider>
            </div>
            <div class="col-2 align-self-center text-center">
              <span>{{inputColor.r}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-1 align-self-center text-center">
              <span class="font-weight-bold">G</span>
            </div>
            <div class="col">
              <mat-slider [(ngModel)]="inputColor.g" (change)="changeGreenSlider($event)" min="0" max="255" step="1" class="w-100"></mat-slider>
            </div>
            <div class="col-2 align-self-center text-center">
              <span>{{inputColor.g}}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-1 align-self-center text-center">
              <span class="font-weight-bold">B</span>
            </div>
            <div class="col">
              <mat-slider [(ngModel)]="inputColor.b" (change)="changeBlueSlider($event)" min="0" max="255" step="1" class="w-100"></mat-slider>
            </div>
            <div class="col-2 align-self-center text-center">
              <span>{{inputColor.b}}</span>
            </div>
          </div>

          <div class="row strip-row mt-4 mb-4" [style.border-color]="'#' + hexcode">
            <div class="col my-auto text-center">
              <div class="led" [style.border-color]="'#' + hexcode"></div>
            </div>

            <div class="col my-auto text-center">
              <div class="led" [style.border-color]="'#' + hexcode"></div>
            </div>

            <div class="col my-auto text-center">
              <div class="led" [style.border-color]="'#' + hexcode"></div>
            </div>

            <div class="col my-auto text-center">
              <div class="led" [style.border-color]="'#' + hexcode"></div>
            </div>

            <div class="col my-auto text-center">
              <div class="led" [style.border-color]="'#' + hexcode"></div>
            </div>
          </div>

          <div class="row justify-content-center">
            <form>
              <mat-form-field style="width: 150px">
                <span matPrefix style="font-size: 22px"># &nbsp;</span>
                <input class="text-center hexInput" matInput [(ngModel)]="hexcode" (keyup)="changeHexInput()" placeholder="Hex code" name="hexcode">
              </mat-form-field>
            </form>
          </div>

          <div class="row justify-content-center">
            <button mat-button color="accent" class="m-2" (click)="addFaderColor()">ADD TO COLORS</button>
            <button mat-raised-button color="accent" class="m-2" (click)="submitColor()" [disabled]="disableButton">APPLY</button>
          </div>

          <hr>

          <div class="row justify-content-center">
            <span class="font-weight-bold" style="font-size: 16px">Fade Settings</span>
          </div>

          <div class="row mt-2">
            <div class="col-12"><mat-slide-toggle [(ngModel)]="enableFade" (change)="saveFadeSettings()">Fade when changing color</mat-slide-toggle></div>

            <div class="col-2 align-self-center"><span>Duration</span></div>
            <div class="col"><mat-slider min="1" max="10000" class="w-100" thumbLabel [(ngModel)]="fadeDuration" [disabled]="!enableFade" (change)="saveFadeSettings()"></mat-slider></div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>